* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
}

header{
    display: flex;
    background-color:rgb(50,52,51);
    color: white;

}

  .header-img {
    width: 70px;
  }
  
  .container{
      display: flex;
  }
  .gallery-img {
    width: 150px;
  }
  
  .social-img {
    width: 25px;
    margin-left: 10px;
  }


