.App {
  text-align: center;
}

.pokemon {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1 1 auto;
  margin: 10px 10px;
  border: 1px gray solid;
  border-radius: 10px;
}

.card {
  flex-direction: column;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 10px;
}
